*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the board vertically */
}

.main-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
    background-color: #34403A;
}

.board{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    border: 3px solid antiquewhite;
    border-radius: 3px;
    overflow: hidden;
    margin: 0px 50px;
}

.board div{
    box-sizing: border-box;
    transition: background-color 0.1s;
}


.board > div.active {
    background-color: blue;
}

.main-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    background-color: antiquewhite;
}

#resize-btn{
    width: 250px;
    height: 60px;
    margin-right: 150px;
    background-color: #34403A;
    color: antiquewhite;
    font-weight: 800;
    border-radius: 25px;
    border: 1px solid #34403A;
    box-shadow: 5px 8px #2F3A35;
}

